/*
Phone -- 0-600px
Tablet-portrait -- 600px-900px
Tablet-landscape -- 900px-1200px
Big-desktop -- 1800+ px

Breakpoint choices
phone
tab-port
tab-land
big-desktop

*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  background: transparent;
  width: .6rem;
  height: .8rem; }

::-webkit-scrollbar-thumb {
  background-color: #2e69a1d8;
  border-radius: 1rem; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: #0d1b28; }

.heading-1 {
  color: #f2f6fa;
  font-weight: bold;
  font-size: 4.1rem;
  line-height: 5.9rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 3.0rem;
      line-height: 3.6rem; } }

.heading-2 {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 6.4rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 3.0rem;
      line-height: 3.6rem; } }

.heading-3 {
  font-size: 1.8rem;
  line-height: 3.1rem; }

.paragraph-1 {
  color: #f2f6fa;
  font-size: 1.6rem;
  line-height: 3.4rem; }

.paragraph-2 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 3.4rem;
  color: #f2f6fa; }

.paragraph-3 {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem; }

.centerAlign {
  text-align: center; }

.m-left-auto {
  margin-left: auto; }

.m-right-30px {
  margin-right: 3rem; }

.m-bottom-30px {
  margin-bottom: 3rem; }

.m-bottom-20px {
  margin-bottom: 2rem; }

.m-bottom-10px {
  margin-bottom: 1rem; }

.m-top-40px-bottom-20px {
  margin-top: 4rem;
  margin-bottom: 2rem; }

.p-top-bottom-100px {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.color-black {
  color: #0d1b2899; }

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }
  .nav__logo {
    max-width: 13.3rem;
    max-height: 3.2rem; }
  .nav__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 1.9rem; }
    .nav__link--btn {
      background-color: #5c4fff;
      border-radius: 1rem;
      font-size: 1.8rem;
      line-height: 3.4rem;
      padding: 0.5rem 2.5rem;
      font-weight: 200; }
      @media only screen and (max-width: 37.5em) {
        .nav__link--btn {
          display: none; } }

.custom-input__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  padding: .3rem;
  border-radius: 1rem; }

.custom-input__input {
  flex-grow: 1;
  height: 100%;
  padding: 1rem;
  font-family: inherit;
  border: none; }
  .custom-input__input::placeholder {
    color: #0d1b2899; }
  .custom-input__input:focus {
    outline: none; }

.btn {
  display: inline-block;
  padding: 2rem 3.5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: #ffffff;
  border: none;
  font-weight: 200;
  font-family: inherit;
  cursor: pointer;
  background-color: #5c4fff;
  text-decoration: none; }
  .btn__custom-input {
    background-color: #5c4fff;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: #ffffff;
    padding: 1.5rem 2.5rem;
    border: none;
    font-weight: 200;
    font-family: inherit;
    cursor: pointer; }
    .btn__custom-input:active, .btn__custom-input:focus {
      outline: none; }

@media only screen and (max-width: 56.25em) {
  .br--1 {
    display: none; } }

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(13, 27, 40, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 70;
  visibility: hidden;
  opacity: 0; }
  @supports (backdrop-filter: blur(5px)) {
    .overlay {
      backdrop-filter: blur(5px); } }
  .overlay.show {
    visibility: visible;
    opacity: 1; }

.footer {
  background-color: #0d1b28; }
  .footer__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff26;
    padding: 2rem 0 4rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__container {
        flex-direction: column; }
        .footer__container > *:not(:last-child) {
          margin-bottom: 2rem; } }
  .footer__socials > a {
    font-size: 3rem;
    color: #fff;
    text-decoration: none; }
    .footer__socials > a:not(:last-child) {
      margin-right: 0.8rem; }

.row {
  width: 100%; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.center {
  max-width: 115rem;
  margin: 0 auto; }
  .center::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .center {
      padding-left: 1.7rem;
      padding-right: 1.7rem; } }

.center2 {
  max-width: 125rem;
  margin: 0 auto; }
  .center2::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .center2 {
      padding-left: 1.7rem;
      padding-right: 1.7rem; } }

.header {
  background-color: #0d1b28; }
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12rem; }
    @media only screen and (max-width: 65.31em) {
      .header__content {
        flex-direction: column; } }
  .header__comingSoon {
    display: inline-block;
    padding: 0.4rem 1.2rem;
    background-color: #0becb4;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    line-height: 3.2rem;
    color: #0d1b28; }
  .header__img {
    max-width: 54.2rem;
    max-height: 54.2rem; }
    @media only screen and (max-width: 37.5em) {
      .header__img {
        width: 100%; } }

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-top: 6rem; }
  .benefits__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 14px 22px rgba(0, 0, 0, 0.03);
    padding: 3rem; }
  .benefits__icon {
    max-width: 6rem;
    max-height: 6rem;
    margin-right: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .benefits {
      grid-template-columns: repeat(1, 1fr); } }

.section__one {
  background-image: url(../img/pic-2.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  padding: 8rem 0 6rem; }

.section__getStarted {
  padding: 7rem 0;
  background-color: #0d1b28; }

.getStarted {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .getStarted__img {
    max-width: 40.1rem;
    max-height: 40.1rem; }
    @media only screen and (max-width: 56.25em) {
      .getStarted__img {
        margin-top: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .getStarted__img {
        width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .getStarted__text {
      order: -1; } }
  @media only screen and (max-width: 56.25em) {
    .getStarted {
      flex-direction: column; } }

.section__category {
  background-image: url(../img/pic-8.png);
  background-repeat: no-repeat;
  background-size: 55% 100%;
  background-position: top left;
  padding: 8rem 0;
  margin-top: 8rem; }
  @media only screen and (max-width: 66.6em) {
    .section__category {
      background-size: 60% 100%; } }
  @media only screen and (max-width: 56.25em) {
    .section__category {
      background-size: cover; } }

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .categories__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    color: #ffffff;
    flex-basis: 50%; }
    @media only screen and (max-width: 66.6em) {
      .categories__list {
        flex-basis: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .categories__list {
        grid-template-columns: repeat(1, 1fr); } }
  .categories__icon {
    max-width: 4rem;
    max-height: 4rem; }
  .categories__text {
    flex-basis: 30%; }
    @media only screen and (max-width: 56.25em) {
      .categories__text {
        color: #ffffff;
        margin-top: 8rem; } }
  @media only screen and (max-width: 56.25em) {
    .categories {
      flex-direction: column; } }

.sign-up__form {
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10rem;
  background-color: #ffffff;
  border-radius: 0.7rem;
  z-index: 80;
  overflow: hidden;
  transform: scale(0.3);
  transform-origin: center;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0; }
  .sign-up__form.show {
    transform: scale(1);
    visibility: visible;
    opacity: 1; }
  @media only screen and (max-width: 37.5em) {
    .sign-up__form {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; } }

.sign-up__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #5c4fff;
  padding: 2.5rem 2rem; }

.sign-up__close {
  color: #ffffff;
  font-size: 2.5rem;
  cursor: pointer; }

.sign-up__body {
  padding: 2.5rem 2rem 4rem; }

.sign-up__input {
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid #b3b3b3;
  padding: 1.5rem;
  font-family: inherit;
  transition: 0.4s; }
  .sign-up__input:not(:last-child) {
    margin-bottom: 1.5rem; }
  .sign-up__input:focus {
    outline: none;
    box-shadow: 0 0 1rem rgba(92, 79, 255, 0.5); }

.sign-up__button {
  width: 100%;
  border-radius: 0.3rem;
  border: none;
  color: #ffffff;
  padding: 2rem;
  background-color: #5c4fff;
  margin-top: 2.5rem;
  font-family: inherit;
  cursor: pointer; }
  .sign-up__button:focus, .sign-up__button:active {
    outline: none; }
