// ****************** Colors ******************
$color-white: #ffffff;

$color-1: #0d1b28;
$color-2: #5c4fff;
$color-3: #0becb4;
$color-4: #f2f6fa;
$color-5: #2e69a1d8;
$color-6: #0d1b2899;
$color-7:  #ffffff26;
$color-8:  #b3b3b3;

$color-primary-light: #000;
// ****************** Grids ******************
$row-width: 115rem;
$row-width-2: 125rem;
