.btn {
  display: inline-block;
  padding: 2rem 3.5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: $color-white;
  border: none;
  font-weight: 200;
  font-family: inherit;
  cursor: pointer;
  background-color: $color-2;
  text-decoration: none;

  &__custom-input {
    background-color: $color-2;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: $color-white;
    padding: 1.5rem 2.5rem;
    border: none;
    font-weight: 200;
    font-family: inherit;
    cursor: pointer;

    &:active,
    &:focus {
      outline: none;
    }
  }
}
