.custom-input {
    &__wrapper{
        @include flex-row-jcbetween-aicenter;
        overflow: hidden;
        background-color: $color-white;
        padding: .3rem;
        border-radius: 1rem;
    }
    &__input {
        flex-grow: 1;
        height: 100%;
        padding: 1rem;
        font-family: inherit;
        border: none;

        &::placeholder {
            color: $color-6;
        }

        &:focus {
            outline: none;
        }
    }
}