.footer {
  background-color: $color-1;

  &__container {
    @include flex-rowwrap-jcbetween-aicenter;
    border-top: 1px solid $color-7;
    padding: 2rem 0 4rem;

    @include responsive(phone){
      flex-direction: column;

      & > * {
        &:not(:last-child){
          margin-bottom: 2rem;
        }
      }
    }
  }

  &__links {
    // @include flex-row-aicenter;
  }

  &__socials {
    & > a {
      font-size: 3rem;
      color: #fff;
      text-decoration: none;

      

      &:not(:last-child) {
        margin-right: 0.8rem;
      }
    }
  }
}
