.nav {
  @include flex-rowwrap-jcbetween-aicenter;
  padding: 2rem 0;
  &__logo {
    max-width: 13.3rem;
    max-height: 3.2rem;
  }
  &__link {
    text-decoration: none;
    color: $color-white;
    font-size: 1.4rem;
    line-height: 1.9rem;

    &--btn {
      background-color: $color-2;
      border-radius: 1rem;
      font-size: 1.8rem;
      line-height: 3.4rem;
      padding: 0.5rem 2.5rem;
      font-weight: 200;

      @include responsive(phone) {
        display: none;
      }
    }
  }
}
