body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: $color-1;
}

// Headings
.heading {
  &-1 {
    color: $color-4;
    font-weight: bold;
    font-size: 4.1rem;
    line-height: 5.9rem;

    @include responsive(phone){
      font-size: 3.0rem;
    line-height: 3.6rem;
    }
  }
  &-2 {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 6.4rem;

    @include responsive(phone){
      font-size: 3.0rem;
    line-height: 3.6rem;
    }
  }
  &-3 {
    font-size: 1.8rem;
    line-height: 3.1rem;
  }
}

// paragraphs 
.paragraph {
  &-1 {
    color: $color-4;
    font-size: 1.6rem;
    line-height: 3.4rem;
  }
  &-2 {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3.4rem;
    color: $color-4;
  }
  &-3 {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

// links
