// Alignment
.centerAlign {
  text-align: center;
}

// Margins ******************
.m {
  &-left-auto {
    margin-left: auto;
  }

  &-right-30px {
    margin-right: 3rem;
  }

  &-bottom-30px {
    margin-bottom: 3rem;
  }
  &-bottom-20px {
    margin-bottom: 2rem;
  }
  &-bottom-10px {
    margin-bottom: 1rem;
  }

  &-top-40px-bottom-20px {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}

// Padding *************
.p-top-bottom-100px {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

// Color ********
.color-black {
  color: $color-6;
}
