.section__one {
  background-image: url(../img/pic-2.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;

  padding: 8rem 0 6rem;
}

.section__getStarted {
  padding: 7rem 0;
  background-color: $color-1;
}

.getStarted {
  @include flex-row-jcbetween-aicenter;

  &__img {
    max-width: 40.1rem;
    max-height: 40.1rem;

    @include responsive(tab-port) {
      margin-top: 5rem;
    }
    @include responsive(phone) {
      width: 100%;
    }
  }

  &__text {
    @include responsive(tab-port) {
      order: -1;
    }
  }

  @include responsive(tab-port) {
    flex-direction: column;
  }
}

.section__category {
  background-image: url(../img/pic-8.png);
  background-repeat: no-repeat;
  background-size: 55% 100%;
  background-position: top left;

  padding: 8rem 0;
  margin-top: 8rem;

  @include responsive(tab-land-mini) {
    background-size: 60% 100%;
  }
  @include responsive(tab-port) {
    background-size: cover;
  }
}

.categories {
  @include flex-row-jcbetween-aicenter;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    color: $color-white;
    flex-basis: 50%;

    @include responsive(tab-land-mini) {
      flex-basis: 60%;
    }
    @include responsive(phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__icon {
    max-width: 4rem;
    max-height: 4rem;
  }

  &__text {
    flex-basis: 30%;

    @include responsive(tab-port) {
      color: $color-white;
      margin-top: 8rem;
    }
  }

  @include responsive(tab-port) {
    flex-direction: column;
  }
}

.sign-up {
  &__form {
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10rem;
    background-color: $color-white;
    border-radius: 0.7rem;
    z-index: 80;
    overflow: hidden;

    transform: scale(0.3);
    transform-origin: center;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

    &.show {
      transform: scale(1);
      visibility: visible;
      opacity: 1;
    }

    @include responsive(phone) {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  &__nav {
    @include flex-row-jcbetween-aicenter;
    background-color: $color-2;
    padding: 2.5rem 2rem;
  }
  &__close {
    color: $color-white;
    font-size: 2.5rem;
    cursor: pointer;
  }
  &__body {
    padding: 2.5rem 2rem 4rem;
  }

  &__input {
    width: 100%;
    border-radius: 0.3rem;
    border: 1px solid $color-8;
    padding: 1.5rem;
    font-family: inherit;
    transition: 0.4s;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 1rem rgba($color-2, 0.5);
    }
  }

  &__button {
    width: 100%;
    border-radius: 0.3rem;
    border: none;
    color: $color-white;
    padding: 2rem;
    background-color: $color-2;
    margin-top: 2.5rem;
    font-family: inherit;
    cursor: pointer;

    &:focus,
    &:active {
      outline: none;
    }
  }
}
