.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  margin-top: 6rem;

  &__card {
    @include flex-row-aicenter;
    background-color: $color-white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06),
      0px 14px 22px rgba(0, 0, 0, 0.03);
    padding: 3rem;
  }
  &__icon {
    max-width: 6rem;
    max-height: 6rem;
    margin-right: 2rem;
  }

  @include responsive(tab-port) {
    grid-template-columns: repeat(1, 1fr);
  }
}
