.header {
  background-color: $color-1;

  &__content {
    @include flex-row-jcbetween-aicenter;
    padding-bottom: 12rem;

    @include responsive(tab-land-small){
      flex-direction: column;
    }
  }

  &__left {
    // margin-right: 5rem;
  }

  &__comingSoon {
    display: inline-block;
    padding: 0.4rem 1.2rem;
    background-color: $color-3;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    line-height: 3.2rem;
    color: $color-1;
  }

  &__img {
    max-width: 54.2rem;
    max-height: 54.2rem;

    @include responsive(phone){
      width: 100%;
    }
  }
}
